th.sorting {
  border-left: solid black 1px;
  border-top: solid black 1px;
}

td {
  border-left: solid black 1px;
}

h2 {
  text-align: center;
}

button.red {
  background-color: #e35c5cd4;
  border-color: #e35c5cd4;
  border-radius: 3px;
}

button.green {
  background-color: #90f093b8;
  border-color: #90f093b8;
  border-radius: 3px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

li {
  float: right;
}

li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #ddd;
}

li a.active {
  color: white;
  background-color: #2196f38f;
}