.contact-form {
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
}

body {
  background-image: url('../../images/background1.jpg');

}

  .contact-form .form-control {
      border-radius: 1rem;
  }

.contact-image {
  text-align: center;
}

  .contact-image img {
      border-radius: 6rem;
      width: 11%;
      margin-top: -3%;
      transform: rotate(29deg);
  }

  .contact-form form {
    padding: 20px;
    border-radius: 50px;
    border: 2px solid #fff;
    background-color: #fff;
    font-size: 20px;
    font-family: system-ui;
    font-weight: 600;
    width:90%;
}

  /* .contact-form form .row {
      margin-bottom: -7%;
  } */

.contact-form h3 {
  margin-bottom: 8%;
  margin-top: -10%;
  text-align: center;
  color: #2196f38f;
}

.contact-form .btnContact {
  width: 50%;
  border: none;
  border-radius: 1rem;
  padding: 1.5%;
  background: #2196f38f;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

.btnContactSubmit {
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  color: #fff;
  background-color: #2196f38f;
  border: none;
  cursor: pointer;
}

td {
  width: 100px
}

div > img {
  width: 100px;
  height: 100px;
}

input.form-control {
  text-align: right;
}

.col-md-6 {
  text-align: center;
}

.selectType {
  border: solid black 1px;
  border-radius: 10px;
  margin: 5px;
}

.selected {
border: solid rgb(135, 239, 135) 1px;
background-color: rgb(135, 239, 135);
}

th {
  font-weight: 600  ;
}

.elderToMap {
  padding-top:10px;
  display: flex;
  justify-content: center;
}

.elderToMap > a {
  color: black;
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.header > h1 {
  font-family:cursive;
  font-size:4rem
}

.header > img {
  width: 325px;
  margin-bottom: 15px;
  margin-top: 15px;
}