/* th.sorting {
  border-left: solid black 1px;
  border-top: solid black 1px;
}

td {
  border-left: solid black 1px;
} */

h2 {
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 5px;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
  font-weight: bold;
  border-radius: 10px;
}

li {
  float: right;
}

li.logOut {
  float: left;
  background-color: #80808017;
}

li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #ddd;
}

li a.active {
  color: white;
  background-color: #2196f38f;
}

table.dataTable.no-footer {
  border-bottom: 0px;
}

table.dataTable thead th,
table.dataTable thead td {
  border-bottom: 0px;
}

table.dataTable.display tbody td {
  border-top: 0px;
}

div#appsTable_wrapper {
  background-color: #fff;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
}

div#associationsTable_wrapper {
  background-color: #fff;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
}

thead {
  color: #808080bd
}

body {
  font-family: system-ui;
  background-color: #80808059;
}

button.fa-solid {
  background-color: transparent;
  border-color: transparent;
}

div#appsTable_length {
  display:none;
  font-family: system-ui;
  color: #d2d2d2;
}

div#appsTable_filter {
  display:none;
  font-family: system-ui;
  color: #d2d2d2;
}

div#associationsTable_length {
  display:none;
  font-family: system-ui;
  color: #d2d2d2;
}

div#associationsTable_filter {
  display:none;
  font-family: system-ui;
  color: #d2d2d2;
}

.dataTables_wrapper .dataTables_filter input {
  display:none;
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 5px;
  background-color: transparent;
  margin-left: 3px;
  color: #aaa;
}

.dataTables_wrapper .dataTables_length select {
  display:none;
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 5px;
  background-color: transparent;
  padding: 4px;
}