/* th.sorting {
  border-left: solid black 1px;
  border-top: solid black 1px;
}

td {
  border-left: solid black 1px;
} */

h2 {
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 5px;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
  font-weight: bold;
  border-radius: 10px;
}

li {
  float: right;
}

li.logOut {
  float: left;
  background-color: #80808017;
}

li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #ddd;
}

li a.active {
  color: white;
  background-color: #2196f38f;
}

table.dataTable.no-footer {
  border-bottom: 0px;
}

table.dataTable thead th,
table.dataTable thead td {
  border-bottom: 0px;
}

table.dataTable.display tbody td {
  border-top: 0px;
}

div#appsTable_wrapper {
  background-color: #fff;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
}

div#associationsTable_wrapper {
  background-color: #fff;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
}

thead {
  color: #808080bd
}

body {
  font-family: system-ui;
  background-color: #80808059;
}

button.fa-solid {
  background-color: transparent;
  border-color: transparent;
}

div#appsTable_length {
  display:none;
  font-family: system-ui;
  color: #d2d2d2;
}

div#appsTable_filter {
  display:none;
  font-family: system-ui;
  color: #d2d2d2;
}

div#associationsTable_length {
  display:none;
  font-family: system-ui;
  color: #d2d2d2;
}

div#associationsTable_filter {
  display:none;
  font-family: system-ui;
  color: #d2d2d2;
}

.dataTables_wrapper .dataTables_filter input {
  display:none;
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 5px;
  background-color: transparent;
  margin-left: 3px;
  color: #aaa;
}

.dataTables_wrapper .dataTables_length select {
  display:none;
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 5px;
  background-color: transparent;
  padding: 4px;
}

ul.header {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  align-items: center;
}

ul.header > li.brandName {
    font-family: monospace;
    font-size: 19px;
    color: #666666;
}

ul.header > li.associationName {
  font-family: arial;
  font-size: 19px;
  color: #666666;
  display: flex;
  align-items: center;
}

i.fa-regular.fa-circle-user {
  padding-left: 10px;
}

tr.over-15.even {
  background-color: rgb(255 0 0 / 15%);
}

tr.over-15.odd {
  background-color: rgb(255 0 0 / 15%);
}

div.dt-buttons > button.dt-button {
  border-color: #fff6;
  border-radius: 10px;
  color: grey;
  font-weight: 600;
}

dl > button {
  border-color: #fff6;
  border-radius: 10px;
  color: grey;
  font-weight: 600;
}

td {
  direction: rtl;
}

.dtHeader {
  font-size: 18px;
  font-weight: 500;
}

table.dataTable td.dt-control::before {
  background-color: #9e9e9e;
}

table.dataTable tr.dt-hasChild td.dt-control:before {
  background-color: #9e9e9e;
}

.dt-head-center {text-align: center;}

.sentToAssoUL {
  display: flex;
  flex-direction: column;
}

.logoImg {
  width:160px;
}

li.brandName {
  float:left;
}
